<div class="main-new">
  <div class="main-new-left">
    <h1 class="main-new-2">
      <%= link_to "アカウント", '/users/account' %>
    </h1>
    <h1 class="main-new-2">
      <%= link_to "プロフィール", '/users/profile' %>
    </h1>
  </div>
  <div class="main-new-right">
    <div class="main-room">
      <h1 class="main-title">プロフィール</h1>
        <%= form_with model: @user do |form| %>
          <div class="room-nav">
            <%= image_tag @user.user_image.to_s, class: "header-icon profile-icon", width: '65px' ,height: '65px' %>
          </div>
          <div class="room-nav">
            <%= form.label :アイコン画像 %>
            <%= form.file_field :user_image %>
          </div>

          <div class="room-nav">
            <%= form.label :username, "名前" %>
            <%= form.text_field :username %>
          </div>

          <div class="room-nav">
            <%= form.label :body, "自己紹介" %>
            <%= form.text_field :body %>
          </div>

          <div class="room-nav">
            <%= form.submit "更新" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
