<div class="room-show">
  <div class="row">
    <div class="col-1">
      <%= image_tag @room.room_image_url if @room.room_image.present? %>
      <div class="room-show-detile"">
        <div class="user-icon">
          <%= image_tag @room.user.user_image.to_s ,class: "host-icon header-icon", width: '100px' ,height: '100px' %>
        </div>
        <div class="room-profile">
          <p class="room-name"><%= @room.room_name %></p>
          <p class="room-address"><%= @room.address %></p>
        </div>
      </div>
      <p class="room-body"><%= @room.room_body %></p>
    </div>
    <div class="col-22">
      <div class="room-show-nav">
        <h5 class="room-money"><%= @room.price %></h5>
        <div class="room-show-date">
          <%= form_with url: new_reservation_path, method: :get, local: true do |f| %>
            <%= f.label :start_date ,"開始日" %>
            <%= f.date_field :start_date, class: "form-control mb-4", autocomplete: "開始日" %>
            <%= f.label :end_date ,"終了日" %>
            <%= f.date_field :end_date, class: "form-control mb-4", autocomplete: "終了日" %>
            <%= f.label :person_num ,"人数" %>
            <%= f.number_field :person_num, class: "form-control mb-4", autocomplete: "人数" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "予約確認画面へ", class: "btn btn-primary form-control" %>
            <%= f.hidden_field :room_name, value: @room.room_name %>
            <%= f.hidden_field :room_body, value: @room.room_body %>
            <%= f.hidden_field :room_image, value: @room.room_image %>
          <% end %>
          <%= link_to room_path(@room), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-trash"></i>
            </span>
             このレシピを削除する
             
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
